body, html {
    height:100%;
}
.navbar-brand{
    background-color: #DCDCDC;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.table-bordered{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.table-bordered thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}


.table-bordered th,
.table-bordered td {
    padding: 12px 15px;
    color: black;
}
.table-bordered tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table-bordered tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-bordered tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


.list-group{
    width: 250px;
    display: flex;
}
.row{
    display:flex;
    justify-content: flex-start;
}
.col-md-7{
    display:flex;
    justify-content:center;
    margin-left: -130px;
}
.list-group-item {
    border-bottom-right-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 2px;
    background: rgba(0,0,0,0.7);
    color: #F7CA18;
}
.list-group-item.active, .list-group-item:hover{
    background-color: #F7CA18 !important;
    border-color: #F7CA18 !important;
    font-weight: bold;
    color:white;
}

.btn.btn-primary{
    background-color: #DCDCDC;
    color: black;
    border-color: transparent;
}
.btn.btn-primary:hover{
    background-color: grey;
    border-color: transparent;
}
.btn-group.fixed-bottom {
    width: 250px;
}
th{
    background-color: #FFFFFF !important;
}

 tr:hover{
    background-color: #FAE292;
 }
 .table-group-divider{
    font-size: 2;
 }